table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 60px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

th {
    background-color: #8a8888;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #a57908;
}
.highlight {
    background-color: #635e35;
}
